@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #a8a6a6 !default;          //#f1f1f1
$background-color: #002147 !default;          //#272b38 232323 111827 1f2023
$brand-color:      #57b2d3 !default;          // #2a7ae2

$grey-color:       #9c9d9a !default; /* My DS/AI */
$grey-color-light: lighten($grey-color, 5%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default; // 25%
$brey-color:       #383838;

$table-text-align: left !default;

// Width of the content area
$content-width:    850px !default; //800px

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting",
  "minima/custom"
;