.post-status {
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 6px;
  padding: 2px 8px;
  margin-left: 10px;
}

.post-status.draft {
  background: #fef3c7;
  color: #92400e;
  border: 1px solid #fcd34d;
}

.post-status.published {
  background: #dcfce7;
  color: #166534;
  border: 1px solid #86efac;
}

.post-status {
  background: #fef3c7;
  color: #92400e;
  border: 1px solid #fcd34d;
}



/* status draft*/ 
.post-list{
	border: 0px solid greenyellow;
	li{
		border: 0px solid red; display: flex; flex-direction: row;
		span.post-meta{
			border:0px solid red; width: 60px
		}
		h3{
			border: 0px solid red; width: 680px;
		}
    .post-status{
      border: 0px solid red; padding-top: 5px; max-height: 30px;
    }
	}
}