h1{
    font-size: 28px; // doesn't work
}

img{
    margin-bottom: 30px;
    align-items: center;
}


hr{
  margin: 20px 0;
}


#back-to-top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #444;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

#back-to-top:hover {
  background-color: #222;
  transform: translateY(-3px);
}



.post-status {
  // background: #fef3c7;
  color: #dbf01a;
  // border: 1px solid #fcd34d;
}


// status: draft
.post-list{
	border: 0px solid greenyellow;
	li{
		border: 0px solid red; display: flex; flex-direction: row;
		span.post-meta{
			border:0px solid red; width: 60px
		}
		h3{
			border: 0px solid red; width: 680px;
		}
    .post-status{
      border: 0px solid red; padding-top: 5px; max-height: 30px;
    }
	}
}